.container-fluid-calendar .d-table {
    display: table !important;
}

.container-fluid-calendar .d-table-row {
    display: table-row !important;
}

.container-fluid-calendar .d-table-cell {
    display: table-cell !important;
}

.container-fluid-calendar .d-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
}

.container-fluid-calendar .d-inline-flex {
    display: -webkit-inline-box !important;
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
}

@media (min-width: 768px) {
    .container-fluid-calendar .d-md-none {
        display: none !important;
    }
    .container-fluid-calendar .d-md-inline {
        display: inline !important;
    }
    .container-fluid-calendar .d-md-inline-block {
        display: inline-block !important;
    }
    .container-fluid-calendar .d-md-block {
        display: block !important;
    }
    .container-fluid-calendar .d-md-table {
        display: table !important;
    }
    .container-fluid-calendar .d-md-table-row {
        display: table-row !important;
    }
    .container-fluid-calendar .d-md-table-cell {
        display: table-cell !important;
    }
    .container-fluid-calendar .d-md-flex {
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important;
    }
    .container-fluid-calendar .d-md-inline-flex {
        display: -webkit-inline-box !important;
        display: -ms-inline-flexbox !important;
        display: inline-flex !important;
    }
}

.container-fluid-calendar .align-items-center {
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
}

.container-fluid-calendar .bg-primary {
    background: #e13a9d !important;
}

.container-fluid-calendar .ftco-section {
    padding: 7em 0;
}

.container-fluid-calendar .ftco-no-pt {
    padding-top: 0;
}

.container-fluid-calendar .ftco-no-pb {
    padding-bottom: 0;
}

.container-fluid-calendar .heading-section {
    font-size: 28px;
    color: #000;
}

.container-fluid-calendar .img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.container-fluid-calendar .elegant-calencar {
    width: 100%;
    text-align: center;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 5px;
    -webkit-box-shadow: 0px 19px 27px -20px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 0px 19px 27px -20px rgba(0, 0, 0, 0.16);
    box-shadow: 0px 19px 27px -20px rgba(0, 0, 0, 0.16);
}

.container-fluid-calendar .wrap-header {
    position: relative;
    height: 250px;
    width: 35%;
    z-index: 0;
}

.wrap-header:after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    background: #000;
    opacity: .5;
    z-index: -1;
}

@media (max-width: 767.98px) {
    .container-fluid-calendar .wrap-header {
        width: 100%;
        padding: 20px 0;
    }
}

.container-fluid-calendar #header {
    width: 100%;
    position: relative;
}

.container-fluid-calendar #header .pre-button,
#header .next-button {
    cursor: pointer;
    width: 1em;
    height: 1em;
    line-height: 1em;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 18px;
}

#header .pre-button i,
#header .next-button i {
    color: #fff;
}

.container-fluid-calendar .pre-button {
    left: 5px;
}

.container-fluid-calendar .next-button {
    right: 5px;
}

.container-fluid-calendar .button-wrap {
    position: relative;
    padding: 10px 0;
}

.container-fluid-calendar .button-wrap .pre-button,
.button-wrap .next-button {
    cursor: pointer;
    width: 1em;
    height: 1em;
    line-height: 1em;
    border-radius: 50%;
    position: absolute;
    top: 0;
    font-size: 18px;
}

.container-fluid-calendar .button-wrap .pre-button i,
.button-wrap .next-button i {
    color: #cccccc;
}

.container-fluid-calendar .button-wrap .pre-button {
    left: 20px;
}

.container-fluid-calendar .button-wrap .next-button {
    right: 20px;
}

.container-fluid-calendar .head-day {
    font-size: 9em;
    line-height: 1;
    color: #fff;
}

.container-fluid-calendar .head-month {
    font-size: 2em;
    line-height: 1;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 300;
}

.container-fluid-calendar .calendar-wrap {
    width: 100%;
    height: auto;
    background: #fff;
    padding: 0px 20px 20px 20px;
}

@media (max-width: 767.98px) {}

.container-fluid-calendar #calendar {
    width: 100%;
}

.container-fluid-calendar #calendar tr {
    height: 2.3em;
}

.container-fluid-calendar #calendar thead tr {
    color: #000;
    font-weight: 700;
}

.container-fluid-calendar #calendar tbody tr {
    color: #000;
}

.container-fluid-calendar #calendar tbody td {
    width: 14%;
    border-radius: 50%;
    cursor: pointer;
    -webkit-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    position: relative;
    z-index: 0;
}

.container-fluid-calendar #calendar tbody td:after {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    width: 44px;
    height: 44px;
    margin: 0 auto;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    border-radius: 50%;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    z-index: -1;
}

@media (prefers-reduced-motion: reduce) {
    .container-fluid-calendar #calendar tbody td:after {
        -webkit-transition: none;
        -o-transition: none;
        transition: none;
    }
}

.container-fluid-calendar #calendar tbody td:hover,
.selected {
    color: #fff;
    border: none;
}

.container-fluid-calendar #calendar tbody td:hover:after,
.selected:after {
    background: #2a3246;
}

.container-fluid-calendar #calendar tbody td:active {
    -webkit-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7);
}

.container-fluid-calendar #today {
    color: #fff;
}

#today:after {
    background: #e13a9d;
}

.container-fluid-calendar #disabled {
    cursor: default;
    background: #fff;
}

.container-fluid-calendar #disabled:hover {
    background: #fff;
    color: #c9c9c9;
}

#disabled:hover:after {
    background: transparent;
}

.container-fluid-calendar #reset {
    display: block;
    position: absolute;
    right: 0.5em;
    top: 0.5em;
    z-index: 999;
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
    padding: 0 0.5em;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 4px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    text-transform: uppercase;
    font-size: 11px;
}

.container-fluid-calendar #reset:hover {
    color: #fff;
    border-color: #fff;
}

.container-fluid-calendar #reset:active {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
}