body {
    display: block;
}

.div .col .col-2 .label .row {
    position: relative;
    width: 100%;
    min-width: 1px;
    padding-right: 1px;
    padding-left: 1px;
}

.col1 {
    position: relative;
    width: 40px;
    min-width: 1px;
    padding-right: 1px;
    padding-left: 1px;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    /*background-color: rgba(86,61,124,.15);*/
    border: 1px solid rgba(86, 61, 124, .2);
}


/* 
th {
    position: relative;
    background-color: rgba(86, 61, 124, .15);
} */

.main-body {
    margin: 0px 0px 0px 0px !important;
    border: 1px solid rgba(86, 61, 124, .2);
}

.page-wrapper1 {
    margin: 10px 10px 10px 10px !important;
}


/*Chỉnh CSS cho cụm tìm kiếm*/


/* 
.form-control {
    width: 30% !important;
    flex: none !important;
} */

.input-group input {
    border-radius: 5px !important;
    -webkit-border-radius: 5px !important;
    -moz-border-radius: 5px !important;
    -ms-border-radius: 5px !important;
    -o-border-radius: 5px !important;
    flex: none;
    width: 100px !important;
}

.input-group input {
    border: 1px solid #8e44ad;
    padding-left: 15px;
    /* font-size: 13px; */
    outline: none;
    border-radius: 5px;
    /* height: 38px; */
}

.modal-footer div span button,
.input-group button,
.btn-option button,
.div-header div button {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    width: 100%;
}


/* ẩn nút thêm mới */

.fixed-button {
    display: none;
}

.show-btn {
    position: absolute;
    right: 17px;
    top: 54%;
    transform: translateY(-50%);
    font-size: 20px;
    color: #8e44ad;
    cursor: pointer;
    display: none;
}