

{% extends "home/base.html" %}
{% load static %}

{% block title %}
Hệ thống quản lý công văn
{% endblock %}


{% block mainbody %}

<!-- plugin css for this page -->
<link rel="stylesheet" href="{% static 'main/show_manual/lightgallery.min.css' %}">
<link rel="stylesheet" href="{% static 'main/show_manual/style.css' %}">

<div class="main-body">
  <div class="page-wrapper">
    <!-- Page-body start -->
    <div class="page-body">
      <div class="col-md-12 col-sm-12">

        <div class="row">

          <!--Liên lạc hỗ trợ-->
          <div class="col-lg-12 grid-margin">
            <div class="card" style="height:auto">
              <div class="card-header">
                <h5><i class="far fa-address-book f-22"></i><a data-i18n=""> LIÊN HỆ HỖ TRỢ (联系支持)</a></h5>
              </div>
              <div class="card-body">
              
                <div id="" class="row lightGallery">
                  <div class=" contact">
                    <div class="col-12 center">
                      <p class='text-c-blue'>
                        Ext:32050<br/>
                        Mobile: 0343.788.922<br/>
                        Email: idsbg-hr-vnga09@mail.foxconn.com<br/>

                        {% comment %} 系統異常:系統 IT hung-cuong.pham@mail.foxconn.com Tel: (+84)-222 3856888 - Ext: (535)20113/20666<br>
                        權限開通:系統負責人 Name:武文谦 Email: code-chien.vu@foxconn.com  Ext: 26628<br>
                        權限開通:系統負責人 Name:阮氏書 Email: cncs-vn-cost@mail.foxconn.com Etx: 535-31506<br>
                        權限開通:系統負責人 Name:團氏協 Email: cncs-vn@mail.foxconn.com Etx: 535-112<br>
                        權限開通:系統負責人 Name:謝氏絨 Email: cncs-vn-bg@mail.foxconn.com Etx: 535-25112<br> {% endcomment %}
                      </p>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>

          <!--Hướng dẫn sử dụng hệ thống-->
          <div class="col-lg-12 grid-margin">
            <div class="card" style="height:auto">
              <div class="card-header">
                <h5><i class="fas fa-question-circle f-22"></i><a data-i18n=""> HƯỚNG DẪN SỬ DỤNG (用户手册)</a></h5>
              </div>
              <div class="card-body">
              
                <div id="lightgallery" class="row lightGallery">
                  <a href="{% static 'main/show_manual/1.jpg' %}" class="image-tile" data-toggle="tooltip" data-placement="top" title="TỔNG QUAN (概述)"><img src="{% static 'main/show_manual/1.jpg' %}" alt="image small"></a>
                  <a href="{% static 'main/show_manual/2.jpg' %}" class="image-tile" data-toggle="tooltip" data-placement="top" title="TÌM ĐƠN (查找文件)"><img src="{% static 'main/show_manual/2.jpg' %}" alt="image small"></a>
                  <a href="{% static 'main/show_manual/3.jpg' %}" class="image-tile" data-toggle="tooltip" data-placement="top" title="KÝ DUYỆT (签署批准)"><img src="{% static 'main/show_manual/3.jpg' %}" alt="image small"></a>
                  <a href="{% static 'main/show_manual/4.jpg' %}" class="image-tile" data-toggle="tooltip" data-placement="top" title="TẠO MỚI ĐƠN 1 (创建请求 1) STEP1"><img src="{% static 'main/show_manual/4.jpg' %}" alt="image small"></a>
                  <a href="{% static 'main/show_manual/4.jpg' %}" class="image-tile" data-toggle="tooltip" data-placement="top" title="TẠO MỚI ĐƠN 2 (创建请求 2) STEP2"><img src="{% static 'main/show_manual/4.1.jpg' %}" alt="image small"></a>
                  <a href="{% static 'main/show_manual/5.jpg' %}" class="image-tile" data-toggle="tooltip" data-placement="top" title="TẠO NHÓM KÝ (创建签名组)"><img src="{% static 'main/show_manual/5.jpg' %}" alt="image small"></a>
                  <a href="{% static 'main/show_manual/6.jpg' %}" class="image-tile" data-toggle="tooltip" data-placement="top" title="CẤP QUYỀN NGƯỜI DÙNG (用户权利给予)"><img src="{% static 'main/show_manual/6.jpg' %}" alt="image small"></a>
                  <a href="{% static 'main/show_manual/7.jpg' %}" class="image-tile" data-toggle="tooltip" data-placement="top" title="THAY ĐỔI THÔNG TIN CÁ NHÂN (更新个人信息)"><img src="{% static 'main/show_manual/7.jpg' %}" alt="image small"></a>
                  <a href="{% static 'main/show_manual/8.jpg' %}" class="image-tile" data-toggle="tooltip" data-placement="top" title="QUÊN MẬT KHẨU ĐĂNG NHẬP (忘记登录密码)"><img src="{% static 'main/show_manual/8.jpg' %}" alt="image small"></a>
                </div>
              </div>
            </div>
          </div>


          <!--Hướng dẫn tạo tài khoản-->
          <div class="col-lg-12 grid-margin">
            <div class="card " style="height:auto">
              <div class="card-header">
                <h5><i class="fab fa-creative-commons-by f-22"></i><a data-i18n=""> HƯỚNG DẪN TẠO TÀI KHOẢN (帐户创建指南)</a></h5>
              </div>
              <div class="card-body">
                <div id="lightgallery-without-thumb" class="row lightGallery">
                  <a href="{% static 'main/show_manual/9.jpg' %}" class="image-tile" data-toggle="tooltip" data-placement="top" title="BƯỚC 1(第一步)"><img src="{% static 'main/show_manual/9.jpg' %}" alt="image small"></a>
                  <a href="{% static 'main/show_manual/10.jpg' %}" class="image-tile" data-toggle="tooltip" data-placement="top" title="BƯỚC 2(第 2 步)"><img src="{% static 'main/show_manual/10.jpg' %}" alt="image small"></a>
                  <a href="{% static 'main/show_manual/11.jpg' %}" class="image-tile" data-toggle="tooltip" data-placement="top" title="BƯỚC 3(第 3 步)"><img src="{% static 'main/show_manual/11.jpg' %}" alt="image small"></a>
                  <a href="{% static 'main/show_manual/12.jpg' %}" class="image-tile" data-toggle="tooltip" data-placement="top" title="BƯỚC 4(第 4 步)"><img src="{% static 'main/show_manual/12.jpg' %}" alt="image small"></a>
                </div>
              </div>
            </div>
          </div>
    
     
          <!--Hướng dẫn cài đặt đơn mới-->       
          <div class="col-lg-12 grid-margin">
            <div class="card " style="height:auto">
              <div class="card-header">
                <h5><i class="fas fa-align-justify f-22"></i><a data-i18n=""> QUẢN LÝ XE VÀ TÀI XẾ (車輛和駕駛員管理)</a></h5>
              </div>
              <div class="card-body">
                <div id="video-gallery" class="row lightGallery">
                  <a href="{% static 'main/show_manual/13.jpg' %}" class="image-tile" data-toggle="tooltip" data-placement="top" title="Thông tin lái xe (司機信息) (STEP1)"><img src="{% static 'main/show_manual/13.jpg' %}" alt="image small"></a>
                  <a href="{% static 'main/show_manual/14.jpg' %}" class="image-tile" data-toggle="tooltip" data-placement="top" title="Thông tin lái xe (司機信息) (STEP2)"><img src="{% static 'main/show_manual/14.jpg' %}" alt="image small"></a>
                  <a href="{% static 'main/show_manual/15.jpg' %}" class="image-tile" data-toggle="tooltip" data-placement="top" title="Thông tin xe (車輛信息) (STEP1)"><img src="{% static 'main/show_manual/15.jpg' %}" alt="image small"></a>
                  <a href="{% static 'main/show_manual/16.jpg' %}" class="image-tile" data-toggle="tooltip" data-placement="top" title="Thông tin xe (車輛信息) (STEP2)"><img src="{% static 'main/show_manual/16.jpg' %}" alt="image small"></a>
                </div>
              </div>
            </div>
          </div>
      
     
          <!--Hướng dẫn Thao tác khác-->        
          <div class="col-lg-12 grid-margin">
            <div class="card " style="height:auto">
              <div class="card-header">
                <h5><i class="fas fa-file-signature f-22"></i><a data-i18n=""> CẤP PHÁT XE(申請單簽核)</a></h5>
              </div>
              <div class="card-body">
                <div id="lightgallery1" class="row lightGallery">
                  <a href="{% static 'main/show_manual/17.jpg' %}" class="image-tile" data-toggle="tooltip" data-placement="top" title="BƯỚC 1(第 1 步)"><img src="{% static 'main/show_manual/17.jpg' %}" alt="image small"></a>
                  <a href="{% static 'main/show_manual/18.jpg' %}" class="image-tile" data-toggle="tooltip" data-placement="top" title="BƯỚC 2(第 2 步)"><img src="{% static 'main/show_manual/18.jpg' %}" alt="image small"></a>
                  <a href="{% static 'main/show_manual/19.jpg' %}" class="image-tile" data-toggle="tooltip" data-placement="top" title="BƯỚC 3(第 3 步)"><img src="{% static 'main/show_manual/19.jpg' %}" alt="image small"></a>
                  <a href="{% static 'main/show_manual/20.jpg' %}" class="image-tile" data-toggle="tooltip" data-placement="top" title="BƯỚC 4(第 4 步)"><img src="{% static 'main/show_manual/20.jpg' %}" alt="image small"></a>
                </div>
              </div>
            </div>
          </div>

          <!--Hướng dẫn Ghép chữ ký vào tệp FORM PDF-->        
          <div class="col-lg-12 grid-margin" hidden>
            <div class="card " style="height:auto">
              <div class="card-header">
                <h5><i class="fad fa-file-pdf f-22"></i><a data-i18n=""> Ghép chữ ký tệp PDF (合并 PDF 文件)</a></h5>
              </div>
              <div class="card-body">
                <div id="lightgallery2" class="row lightGallery">
                  <a href="{% static 'main/show_manual/21.jpg' %}" class="image-tile" data-toggle="tooltip" data-placement="top" title="BƯỚC 1(第一步)"><img src="{% static 'main/show_manual/21.jpg' %}" alt="image small"></a>
                  <a href="{% static 'main/show_manual/22.jpg' %}" class="image-tile" data-toggle="tooltip" data-placement="top" title="BƯỚC 2(第 2 步)"><img src="{% static 'main/show_manual/22.jpg' %}" alt="image small"></a>
                 
                </div>
              </div>
            </div>
          </div>
      

          <!--   <footer class="footer">
              <div class="container-fluid clearfix">
                <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © 2022 <a href="#">CNCS-VN</a>. All rights reserved.</span>
                <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted &amp; made with <i class="mdi mdi-heart text-danger"></i></span>
              </div>
            </footer>
          -->

        </div>
      </div>
    </div>
  </div>
</div>



<script src="{% static 'main/show_manual/vendor.bundle.base.js' %}"></script>
<script src="{% static 'main/show_manual/lightgallery-all.min.js' %}"></script>
<script src="{% static 'main/show_manual/light-gallery.js' %}"></script>

{% endblock  %}