:root {
    --size: 1;
    --background: #000;
    --color1: #d25778;
    --color2: #ec585c;
    --color3: #e7d155;
    --color4: #56a8c6;
}

.ticket {
    /* float: right; */
    /* margin-top: 0px;
    margin-right: 0%; */
    /* position: fixed; */
    border-radius: 20px;
}