<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link rel="icon" type="image/png" href="{% static 'images/icons/favicon.ico' %}"/>
  <link href="{% static 'login/assets/img/favicon.png' %}" rel="icon">
  <link href="{% static 'login/assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">
  <!-- font-awesome-n -->
  <link rel="stylesheet" type="text/css" href="{% static 'FontAwesome.Pro.5.15.4.Web\css\all.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'FontAwesome.Pro.5.15.4.Web\css\all.min.css' %}">
  <link type="text/css"  href="{% static 'login/assets/font/font.css' %}" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link type="text/css"  href="{% static 'login/assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link type="text/css"  href="{% static 'login/assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">

  <link rel="stylesheet" type="text/css" href="{% static 'assets/css/bootstrap/css/bootstrap.min.css' %}">
  <!-- Template Main CSS File -->
  <link type="text/css"  href="{% static 'login/assets/css/style.css' %}" rel="stylesheet">


  <title>{% block title %}{% endblock %}</title>



</head>

<body >

  <main>
    <div class="container">

      <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-6 col-md-8 col-sm-12 align-items-center justify-content-center">

              <div class="d-flex justify-content-center py-4">
                <a href="index.html" class="logo d-flex align-items-center w-auto"></a>
              </div><!-- End Logo -->

              <div class="card mb-3 col-12">

                <div class="card-body">

                  <div class="pt-4 pb-2 logo-image">

                    <!-- Logo image -->
                    <div href="index.html" class="">
                      <img src="{% static 'login/assets/img/E-sign.png' %}" alt="">
                    </div>

                    <!--  Language button -->
                    <div class="text-center ticket">
                      <div class="btn-group dropup">
                        <button type="button" id="btn_lang" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <img id="img_lang" class="img-radius1 mx-auto my-auto" src="{% static 'images/vn.gif' %} " style="width:auto;height: 20px;"> &ensp;<a id="txt_lang">English</a>
                        </button>

                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <a class="dropdown-item" href="#"><img class="img-flag mx-auto my-auto" src="{% static 'images/vn.gif' %} "> &ensp;Việt Nam</a>
                          <a class="dropdown-item" href="#"><img class="img-flag mx-auto my-auto" src="{% static 'images/en.gif' %} "> &ensp;English</a>
                          <a class="dropdown-item" href="#"><img class="img-flag mx-auto my-auto" src="{% static 'images/cn.gif' %} "> &ensp;中国人</a>
                        </div>
                      </div>
                    </div>

                    <h5 data-i18n="title-login" class="card-title text-center pb-0 fs-4" data-i18n="title-login">Login Esign 4.0</h5>
                    <p class="text-center small"></p>
                  </div>

                  <form class="row g-3 needs-validation" novalidate method="post">

                    {% csrf_token %}

                    {% block content %}

                    {% endblock %}
                  </form>




                  <div class='' id="urlstatic_JS" hidden>{% static '' %}</div>
                </div>
              </div>

              <div class="credits">
                Designed by CNCS-VN
              </div>

            </div>
          </div>
        </div>

      </section>

    </div>
  </main><!-- End #main -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Optional JavaScript; choose one of the two! -->
    
  <script type="text/javascript" src="{% static 'assets/js/jquery/jquery.min.js' %}"></script>
    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
      <script src="{% static 'login/assets/vendor/tinymce/tinymce.min.js' %}"></script>
        <script src="{% static 'login/assets/vendor/tinymce/tinymce.min.js' %}"></script>
        
    <script src="{% static 'bootstrap4.6/js/jquery.slim.min.js' %}" ></script>
    <script src="{% static 'bootstrap4.6/js/bootstrap.bundle.min.js' %}" ></script>
    <script type="text/javascript" src="{% static 'myjs/ajax.jquery.min.js' %}"></script>


  <!-- Vendor JS Files -->


  <script src="{% static 'login/assets/vendor/tinymce/tinymce.min.js' %}"></script>
  <script src="{% static 'login/assets/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->


  <!-- Login My js -->
  <script src="{% static 'login/assets/js/authen.js' %}"></script> 
  <script src="{% static 'login/assets/js/setCookie.js' %}"></script> 
  <script src="{% static 'lang/lang.js' %}"></script> 


  <script>
    SHOW_LANG_();
    myFunction();
    Set_cookie_CRSTOKEN() ;
  // if (crossOriginIsolated) {
  //     // Post SharedArrayBuffer
  //   } else {
  //     // Do something else
  //   }
</script>


</body>

</html>